<router-outlet></router-outlet>
<!-- panel -->
<div class="panel panel-default">
  <!-- panel-heading -->
  <div class="panel-heading">
    <h3 class="panel-title">{{transServ._('Tài khoản')}}</h3>
  </div>
  <!-- end#panel-heading -->
  <!-- panel-body -->
  <div class="panel-body">

    <!-- Action: list of users -->
    <div *ngIf="isActionList()" class="clearfix">
      <div class="text-right">
        <a href="#" (click)="actionAddNew(); $event.preventDefault();" class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-plus"></i> {{transServ._('Thêm tài khoản mới')}}
        </a>
      </div>
      <app-user-list (onUserSelected)="selectUser($event); actionChanges()"></app-user-list>
    </div>
    <!-- end#Action: list of users -->

    <!-- Action: add new user -->
    <app-user-cud *ngIf="isActionAddNew()" (onSucceeded)="actionList();" (onCanceled)="actionList();"></app-user-cud>
    <!-- end#Action: add new user -->

    <!-- Action: user changes -->
    <app-user-changes *ngIf="isActionChanges()" [user]="selectedUser" (onCanceled)="actionList();"></app-user-changes>
    <!-- end#Action: user changes -->

  </div>
  <!-- end#panel-body -->
  <!-- panel-footer -->
  <div class="panel-footer"></div>
  <!-- end#panel-footer -->
</div>
<!-- end#panel -->
