<form *ngIf="!!product" class="col-xs-12 col-sm-push-2 col-sm-8" #formCudNG="ngForm" #formCudEle (ngSubmit)="onFormSubmit(formCudNG, formCudEle)">
  <!-- product's code -->
  <div class="form-group">
    <label for="code">{{transServ._('Mã sản phẩm')}}</label>
    <div class="input-group shadow-br-3">
      <span class="input-group-addon"></span>
      <input type="text" class="form-control" required [(ngModel)]="product.code" name="product[code]" #productCodeNG="ngModel" placeholder="{{transServ._('Mã sản phẩm')}}">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-asterisk text-danger"></span>
      </span>
    </div>
    <p>
      <small>({{transServ._('Mã sản phẩm phải là duy nhất, không được phép trùng')}}).</small>
    </p>
    <div [hidden]="productCodeNG.valid || productCodeNG.pristine"  class="alert alert-xs alert-danger">
      <small>{{transServ._('Mã sản phẩm là bắt buộc!')}}</small>
    </div>
    <div [hidden]="!productDuplicatedCode"  class="alert alert-xs alert-danger">
      <small>{{transServ._('Mã sản phẩm "' + productDuplicatedCode + '" đã tồn tại!')}}</small>
    </div>
  </div><!-- end#product's code -->
  <!-- product's name -->
  <div class="form-group">
    <label for="name">{{transServ._('Tên sản phẩm')}}</label>
    <div class="input-group shadow-br-3">
      <span class="input-group-addon"></span>
      <input type="text" class="form-control" required [(ngModel)]="product.name" name="product[name]" #productNameNG="ngModel" placeholder="{{transServ._('Tên sản phẩm')}}">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-asterisk text-danger"></span>
      </span>
    </div>
    <div [hidden]="productNameNG.valid || productNameNG.pristine"  class="alert alert-xs alert-danger">
      <small>{{transServ._('Tên sản phẩm là bắt buộc!')}}</small>
    </div>
  </div><!-- end#product's name -->
  <!-- product's price -->
  <div class="form-group">
    <label for="price">{{transServ._('Đơn giá')}}</label>
    <div class="input-group shadow-br-3">
      <span class="input-group-addon"></span>
      <input type="price" required class="form-control text-right text-numeric numeric-integer" pattern="[0-9]+" [(ngModel)]="product.price" name="product[price]" #productPriceNG="ngModel" #productPrice placeholder="0">
      <span class="input-group-addon">
          <b>{{transServ._('đ')}}</b>
      </span>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-asterisk text-danger"></span>
      </span>
    </div>
    <div [hidden]="productPriceNG.valid || productPriceNG.pristine"  class="alert alert-xs alert-danger">
      <small>{{transServ._('Giá sản phẩm là bắt buộc, và chỉ được phép nhập giá trị số!')}}</small>
    </div>
  </div><!-- end#product's price -->
  <!-- product's note -->
  <div class="form-group">
    <label for="name">{{transServ._('Ghi chú (mô tả) sản phẩm')}}</label>
    <div class="input-group shadow-br-3">
      <span class="input-group-addon"></span>
      <textarea class="form-control text-noresize" [(ngModel)]="product.note" name="product[note]" #productNoteNG="ngModel" placeholder="{{transServ._('Ghi chú (mô tả) sản phẩm')}}" rows="4"></textarea>
    </div>
  </div><!-- end#product's note -->
  <div class="form-group text-right">
    <button class="btn btn-sm btn-default">
      <i class="glyphicon glyphicon-floppy-disk"></i> {{transServ._('Lưu')}}
    </button>&nbsp;
    <a href="#" class="btn btn-sm btn-default" (click)="onCancel(); $event.preventDefault();">
      <i class="glyphicon glyphicon-floppy-remove"></i> {{transServ._('Hủy')}}
    </a>
  </div>
</form>
