<!-- toolbar -->
<div class="toolbar clearfix">
  <div class="tb-left col-xs-04">
    <a routerLink="/">
      <span>Home</span> <i class="tb-icon"></i>
    </a>
  </div>
  <div class="tb-center">
    <h3>Todo List</h3>
  </div>
  <div class="tb-right">
    <a routerLink="todo/create">
      <span>New</span> <i class="tb-icon"></i>
    </a>
  </div>
</div>
<!-- .end#toolbar -->

<!-- list of todo -->
<div class="page-content">
  <ul class="todo-list list-group" *ngIf="_tasks">
    <li *ngFor="let task of getSortedTasks(); let idx = index;" class="list-group-item">
      <a routerLink="todo/detail/id/{{task.id}}" class="badge">detail</a>
      <a routerLink="todo/edit/id/{{task.id}}" class="badge">edit</a>
      <h4 class="list-group-item-heading">{{task.doc.name}}</h4>
      <p class="list-group-item-text">
        N: {{task.doc.note}}<br/>
        P: <span>{{getTaskPriorityName(task.doc.priority)}}</span>
      </p>
    </li>
  </ul>
</div>
<!-- .end#list of todo -->
